Repository NVIDIA/k8s-nim-operator, pull requests merged in 2024-09, with the labels that each got.

#119 Fix E2E tests data
  hack/e2e_tests.sh
  test/e2e/data/nimcache.yml
  test/e2e/data/nimservice.yml
  test/e2e/e2e_test.go
  test/e2e/nim-operator_test.go
Labels: tests

#122 Don't ignore update events on CRs when the object is marked for deletion
  internal/controller/nimcache_controller.go
  internal/controller/nimpipeline_controller.go
  internal/controller/nimservice_controller.go
Labels: bug

#123 E2E test: centralize timeout variable
  hack/e2e_tests.sh
  test/e2e/e2e_test.go
  test/e2e/nim-operator_test.go
Labels: tests

#151 Direct customers to docs.nvidia.com
  docs/install.md
Labels: documentation
